<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form method="post" action="/logout" class="d-flex" role="search">
        <h1 style="background-color: greenyellow;"> congratulations welcome to home </h1>
     <button type="submit" class="btn btn-outline-success position-absolute  end-0">
      {{!-- <button class="btn btn-outline-success position-absolute  end-0" type="submit">LOGOUT</button> --}}
      logout
</button>
    </form>
  </div>
</nav>
    
</body>
</html>